<div class="page-sidebar-wrapper">
		<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
		<!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
		<div class="page-sidebar navbar-collapse collapse">
			<!-- BEGIN SIDEBAR MENU -->
			<ul data-slide-speed="200" data-auto-scroll="true" class="page-sidebar-menu ">
				<!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
				<li class="sidebar-toggler-wrapper">
					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
					<div class="sidebar-toggler">
					</div>
					<!-- END SIDEBAR TOGGLER BUTTON -->
				</li>				
				<!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
                <li ng-class="{'start active open':$state.current.url=='dashboard'}"><a ui-sref="home.dashboard"><i class="fa fa-home"></i><span class="title">Dashboard</span><span class="arrow"></span></a></li>
                <li ng-class="{'start active open':$state.current.url=='/list'}"><a ui-sref="road.list"><i class="fa fa-road"></i><span class="title">Roads</span><span class="arrow"></span></a></li>
                <li ng-class="{'start active open':$state.current.url=='roadmaintenance'}"><a ui-sref="home.roadmaintenance"><i class="fa fa-wrench"></i><span class="title">Maintenance</span><span class="arrow"></span></a></li>
                <li ng-class="{'start active open':$state.current.url=='impairment'}"><a ui-sref="home.impairment"><i class="fa fa-unlink"></i><span class="title">Impairment</span><span class="arrow"></span></a></li>
                <li ng-class="{'start active open':$state.current.url=='reports'}"><a ui-sref="home.reports"><i class="fa fa-bar-chart-o"></i><span class="title">Reports</span><span class="arrow "></span></a></li>
                <li ng-class="{'start active open':$state.current.url=='roadmaps'}"><a ui-sref="home.roadmaps"><i class="fa fa-map-marker"></i><span class="title">Road Maps</span><span class="arrow "></span></a></li>                
                <li ng-class="{'start active open':$state.current.url=='geotags'}"><a ui-sref="home.geotags"><i class="fa fa-bookmark-o"></i><span class="title">GeoTags</span><span class="arrow "></span></a></li>
				<!--<li><a><i class="fa fa-cogs"></i><span class="title">Administration</span><span class="arrow "></span></a></li>-->				
				<li class="nav-item">
                                <a href="javascript:;" class="nav-link nav-toggle">
                                    <i class="fa fa-cogs"></i>
                                    <span class="title">Administration</span>
                                    <span class="arrow"></span>
                                </a>
                                <ul class="sub-menu" style="display: block;">
									<li ng-class="{'start active open':$state.current.url=='/newuser'}" class="nav-item">
                                        <a ui-sref="user.newuser" class="nav-link ">
                                            <span class="title">Create User</span>
                                        </a>
									</li>
									<li ng-class="{'start active open':$state.current.url=='/userlist'}" class="nav-item">
                                        <a ui-sref="user.userlist" class="nav-link ">
                                            <span class="title">User List</span>
                                        </a>
									</li>
									<li ng-class="{'start active open':$state.current.url=='/myprofile'}" class="nav-item">
                                        <a ui-sref="user.myprofile" class="nav-link ">
                                            <span class="title">My Profile</span>
                                        </a>
                                    </li>
                                </ul>
                </li>
			</ul>
			<!-- END SIDEBAR MENU -->
	</div>
</div>