	<!-- BEGIN HEADER INNER -->
	<div class="page-header-inner sasdadad">
		<!-- BEGIN LOGO -->
		<div class="page-logo">
			<a href="default.aspx">
				<img class="logo-default" alt="rbis-logo" src="/common/assets/frontend/pages/img/logo_rbis.png">&nbsp;
				<span class="logo-name">Road and Bridge Information System</span>
			</a>
			<div class="menu-toggler sidebar-toggler hide">
			</div>
		</div>
		<!-- END LOGO -->
		<!-- BEGIN RESPONSIVE MENU TOGGLER -->
		<a data-target=".navbar-collapse" data-toggle="collapse" class="menu-toggler responsive-toggler" href="javascript:;">
		</a>
		<!-- END RESPONSIVE MENU TOGGLER -->
		<!-- BEGIN TOP NAVIGATION MENU -->
		<div class="top-menu">
			<ul class="nav navbar-nav pull-right">

                <!-- BEGIN ROAD MENU LINKS -->
                <li class="dropdown dropdown-quick-sidebar-toggler"></li>
				<!-- END ROAD MENU LINKS -->

				<!-- BEGIN USER LOGIN DROPDOWN -->
				<li class="dropdown dropdown-user">
                    <a data-close-others="true" data-hover="dropdown" data-toggle="dropdown" class="dropdown-toggle" href="#"><img src="/common/images/profile.jpg" class="img-circle hide1" alt=""> &nbsp;&nbsp;<span class="username username-hide-on-mobile"> Darel Valeros &nbsp;&nbsp;<b>(SUPER ADMINISTRATOR)</b></span><i class="fa fa-angle-down"></i></a><ul class="dropdown-menu"><li><a href="javascript:showCustomModalWindow('editprofile.aspx', 550, 480);"><i class="icon-user"></i> My Profile </a></li><li class="divider"></li><li><a href="../logout.aspx"><i class="icon-key"></i> Log Out </a></li></ul>				
                </li>
				<!-- END USER LOGIN DROPDOWN -->
			</ul>
		</div>
		<!-- END TOP NAVIGATION MENU -->
	</div>
	<!-- END HEADER INNER -->
