<div class="row" ng-init="init()">
    <div class="page-bar page-bar-color2">
                    <ul class="page-breadcrumb">
                        <li>
                            <i class="fa fa-home"></i>
                            <a href="/#/dashboard">Home</a>						
                        </li>										
                    </ul>
    </div>
<div>
<div class="">
<md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Summary">
                <md-content class="md-padding">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="dashboard-stat blue-madison">
                                <div class="visual">
                                    <i class="fa fa-road"></i>
                                </div>
                                <div class="details">
                                    <div class="number">
                                            {{ summary.roadlengthtotal || 0}}
                                    </div>
                                    <div class="desc">
                                            Total Road Length (km)
                                    </div>
                                </div>
                                <a class="more" href="#">
                                View details <i class="m-icon-swapright m-icon-white"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="dashboard-stat green-haze">
                                <div class="visual">
                                    <i class="fa fa-bar-chart-o"></i>
                                </div>
                                <div class="details">
                                    <div class="number">
                                            {{ summary.totalbridgelength || 0}}
                                    </div>
                                    <div class="desc">
                                            Total Bridge Length (km)
                                    </div>
                                </div>
                                <a class="more" href="#">
                                View details <i class="m-icon-swapright m-icon-white"></i>
                                </a>
                                <!--
                                <a class="more" href="bridges.aspx">
                                View details <i class="m-icon-swapright m-icon-white"></i>
                                </a>
                                //-->
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="dashboard-stat purple-plum">
                                <div class="visual">
                                    <i class="glyphicon glyphicon-stats"></i>
                                </div>
                                <div class="details">
                                    <div class="number">
                                            {{summary.segmentcount || 0}}
                                    </div>
                                    <div class="desc">
                                            No. of Road Segments
                                    </div>
                                </div>
                                <a class="more" href="#">
                                View details <i class="m-icon-swapright m-icon-white"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="dashboard-stat yellow-casablanca">
                                <div class="visual">
                                    <i class="fa fa-compass"></i>
                                </div>
                                <div class="details">
                                    <div class="number">Php ---</div><div class="desc">Total Asset Value (Million)</div>
                                </div>
                                <a class="more" href="#">
                                View details <i class="m-icon-swapright m-icon-white"></i>
                                </a>
                            </div>
                        </div>
                        <!--  Chart -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="portlet box yellow-casablanca">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <i class="fa fa-gift"></i>&nbsp; Surface Types
                                        </div>
                                    </div>
                                    <div class="portlet-body">	
                                        <table class="table-legend">
                                            <tr>
                                                <td><div class="st-chart-legend" style="background-color:{{colorST('C')}}"></div>&nbsp;Concrete: <font class="percent-value">{{getpercent(summary.surfacetype.Concrete,summary.surfacetype.total)}}</font></td>
                                                <td><div class="st-chart-legend" style="background-color:{{colorST('A')}}"></div>&nbsp;Asphalt: <font class="percent-value">{{getpercent(summary.surfacetype.Asphalt,summary.surfacetype.total)}}</font></td>
                                                <td><div class="st-chart-legend" style="background-color:{{colorST('G')}}"></div>&nbsp;Gravel: <font class="percent-value">{{getpercent(summary.surfacetype.Gravel,summary.surfacetype.total)}}</font></td>
                                                <td><div class="st-chart-legend" style="background-color:{{colorST('E')}}"></div>&nbsp;Earth: <font class="percent-value">{{getpercent(summary.surfacetype.Earth,summary.surfacetype.total)}}</font></td>
                                                <td><div class="st-chart-legend" style="background-color:{{colorST('M')}}"></div>&nbsp;Mixed: <font class="percent-value">{{getpercent(summary.surfacetype.Mixed,summary.surfacetype.total)}}</font></td>
                                            </tr>
                                            <tr>
                                                <td align="right">{{formatToDecimal(summary.surfacetype.Concrete)}}&nbsp;</td>
                                                <td align="right">{{formatToDecimal(summary.surfacetype.Asphalt)}}&nbsp;</td>
                                                <td align="right">{{formatToDecimal(summary.surfacetype.Gravel)}}&nbsp;</td>
                                                <td align="right">{{formatToDecimal(summary.surfacetype.Earth)}}&nbsp;</td>
                                                <td align="right">{{formatToDecimal(summary.surfacetype.Mixed)}}&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td colspan="4"></td>
                                                <td align="right">Total:&nbsp; <b>{{ formatToDecimal(summary.surfacetype.total)}}&nbsp;</b></td>
                                            </tr>  
                                        </table>
                                        </br>    
                                        <canvas id="chart_surfacetype" class="chart chart-doughnut"
                                        chart-colours="summary.chart.st.colors" chart-data="summary.chart.st.data" chart-labels="summary.chart.st.labels">
                                        </canvas> 						
                                    </div>
                                </div>					
                            </div>
                            <div class="col-md-6">
                                <div class="portlet box blue-madison">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <i class="fa fa-wrench"></i>&nbsp; Surface Condition
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <table class="table-legend">
                                            <tr>
                                                <td><div class="st-chart-legend" style="background-color:{{colorSC('N')}}"></div>&nbsp;New: <font class="percent-value">{{getpercent(summary.surfacecon.New,summary.surfacecon.total)}}</font></td>
                                                <td><div class="st-chart-legend" style="background-color:{{colorSC('G')}}"></div>&nbsp;Good: <font class="percent-value">{{getpercent(summary.surfacecon.Good,summary.surfacecon.total)}}</font></td>
                                                <td><div class="st-chart-legend" style="background-color:{{colorSC('F')}}"></div>&nbsp;Fair: <font class="percent-value">{{getpercent(summary.surfacecon.Fair,summary.surfacecon.total)}}</font></td>
                                                <td><div class="st-chart-legend" style="background-color:{{colorSC('B')}}"></div>&nbsp;Bad: <font class="percent-value">{{getpercent(summary.surfacecon.Bad,summary.surfacecon.total)}}</font></td>
                                                <td><div class="st-chart-legend" style="background-color:{{colorSC('P')}}"></div>&nbsp;Poor: <font class="percent-value">{{getpercent(summary.surfacecon.Poor,summary.surfacecon.total)}}</font></td>
                                            </tr>
                                            <tr>
                                                <td align="right">{{formatToDecimal(summary.surfacecon.New)}}&nbsp;</td>
                                                <td align="right">{{formatToDecimal(summary.surfacecon.Good)}}&nbsp;</td>
                                                <td align="right">{{formatToDecimal(summary.surfacecon.Fair)}}&nbsp;</td>
                                                <td align="right">{{formatToDecimal(summary.surfacecon.Bad)}}&nbsp;</td>
                                                <td align="right">{{formatToDecimal(summary.surfacecon.Fair)}}&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td colspan="4"></td>
                                                <td align="right">Total:&nbsp; <b>{{ formatToDecimal(summary.surfacecon.total)}}&nbsp;</b></td>
                                            </tr>  
                                        </table>
                                        </br>
                                        <canvas id="chart_surfacecondition" class="chart chart-doughnut"
                                            chart-data="summary.chart.sc.data" chart-labels="summary.chart.sc.labels">
                                        </canvas>
                                    </div>
                                </div>					
                            </div>
			        </div><!-- End row chart-->                                    
                </md-content>
             </md-tab>
            <md-tab label="Timeline">
                <md-content>
                     <timeline>
                        <timeline-event ng-repeat="event in events" side="alternate">
                        <timeline-badge class="{{event.badgeClass}}">
                            <i class="glyphicon {{event.badgeIconClass}}"></i>
                        </timeline-badge>
                        <timeline-panel class="{{event.badgeClass}}">
                            <timeline-heading>
                            <h4>{{event.title}}</h4>
                            </timeline-heading>
                            <p>{{event.content}}</p>
                        </timeline-panel>
                        </timeline-event>
                    </timeline>
                </md-content>    
            </md-tab>                                 
</md-tabs>
</div>
    
