<div class="row road-map-container" ng-init="init()">
<div class="page-bar page-bar-color2">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="/#/dashboard">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="/#/roadmaps">Road Maps</a>
        </li>        
    </ul>
</div>   
    <div class="col-lg-3 road-map-left">
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Location">
                <ul class="regionprovince-list location-list">
                    <li ng-repeat="region in regionprovince">
                        <a class="toggle-list">
                            <i  ng-click="ontoggle_loc('region_',region,$event)" class="fa fa-plus-square toggle-ctrl" aria-hidden="true"></i>
                            <font >{{ region.Name }}</font>
                        </a>
                        <ul class="location-list" id="region_{{region.Code}}" style="display:none;">                            
                            <li ng-repeat="province in region.provinces">
                                <font class="tree-branch">|--</font> 
                                <a class="toggle-list">
                                    <i ng-click="ontoggle_loc('prov_',province,$event)"   class="fa fa-plus-square toggle-ctrl" aria-hidden="true"></i>
                                    {{ province.Name }} 
                                </a>
                                <ul class="location-list" id="prov_{{province.Code}}" style="display:none;">
                                    <!-------------------------------------------------------------------------------------->
                                    <li> <!--  Road Information Details Province-->
                                        <font class="tree-branch">|--</font>
                                        <a class="toggle-list">                                    
                                            <i ng-click="ontoggle_loc('road_info_prov',province,$event)"   class="fa fa-plus-square toggle-ctrl" aria-hidden="true"></i>
                                            <i class="fa fa-road road-information-list" aria-hidden="true"></i> -- Provincial Road(s)({{province.roadcount || 0}})                                                                         
                                        </a>
                                        <ul class="location-list"id="road_info_prov{{province.Code}}">                                            
                                            <li ng-repeat="road in province.roads">
                                                <font class="tree-branch">|--</font>
                                                <a class="toggle-list">
                                                    <i  ng-click="ontoggle_loc('road_attr',road,$event)" class="fa fa-plus-square toggle-ctrl" aria-hidden="true"></i>
                                                     <font ng-click="onclickattr(road,road.R_NAME)">{{ road.R_NAME }}</font>
                                                </a>            
                                                <ul class="location-list" id="road_attr{{road.R_ID}}" style="display:none;">                                            
                                                            <li ng-repeat="attr in road.attr.attrs" ng-include="'roadsattribute'"></li>
                                                 </ul>
                                            </li>
                                        </ul>                                   
                                    </li>
                                    <!-------------------------------------------------------------------------------------->
                                    <li><!-- Muncipalities list-->
                                        <font class="tree-branch">|--</font>
                                        <a class="toggle-list">                                    
                                            <i ng-click="ontoggle_loc('prov_mun_',province,$event)"   class="fa fa-plus-square toggle-ctrl" aria-hidden="true"></i>
                                            <i class="fa fa-map-marker road-location-list" aria-hidden="true"></i> -- City/Municipality Roads({{ province.municipalities.length }})                                                                         
                                        </a>
                                        <ul class="location-list" id="prov_mun_{{province.Code}}" style="display:none;">
                                            <li ng-repeat="municipality in province.municipalities">                                            
                                                <font class="tree-branch">|--</font> 
                                                <a class="toggle-list">
                                                    <i  ng-click="ontoggle_loc('road_info_mun',municipality,$event)" class="fa fa-plus-square toggle-ctrl" aria-hidden="true"></i>
                                                    {{ municipality.Name }} 
                                                </a>
                                                <ul id="road_info_mun{{municipality.Code}}" class="location-list">                                            
                                                    <li ng-repeat="road in municipality.roads">
                                                        <font class="tree-branch">|--</font>
                                                        <a class="toggle-list">
                                                            <i  ng-click="ontoggle_loc('road_attr',road,$event)" class="fa fa-plus-square toggle-ctrl" aria-hidden="true"></i>
                                                            <font ng-click="onclickattr(road,road.R_NAME)">{{ road.R_NAME }}</font> 
                                                        </a>
                                                        <ul class="location-list"id="road_attr{{road.R_ID}}" style="display:none;">                                            
                                                            <li ng-repeat="attr in road.attr.attrs" ng-include="'roadsattribute'"></li>
                                                        </ul>            
                                                    </li>
                                                </ul>       
                                            </li>   
                                        </ul>
                                    </li><!-- end Muncipalities list-->   
                                    <!-------------------------------------------------------------------------------------->
                                 </ul>                                   
                            </li>
                        </ul>    
                    </li>
                </ul>
                <!------ Roads Attributes-->
                <script type="text/ng-template" id="roadsattribute">
                        <font ng-if="attribsinarr.indexOf(attr.name)==-1" class="tree-branch">|------</font>
                        <font ng-if="attribsinarr.indexOf(attr.name)>-1" class="tree-branch">|--</font>
                        <a  class="toggle-list" ng-if="attribsinarr.indexOf(attr.name)>-1">
                            <i  ng-click="ontoggle_loc('road_attr_details',attr,$event)" class="fa fa-plus-square toggle-ctrl" aria-hidden="true"></i>
                            <font ng-click="onclickattr(attr.value,attr.name)">{{ attr.name }}({{attr.count}}) </font>
                        </a>
                        <a ng-if="attribsinarr.indexOf(attr.name)==-1" ng-click="onclickattr(attr.value,attr.name)">{{ attr.name }}</a>
                        <ul class="location-list" id="road_attr_details{{attr._id}}" ng-if="attribsinarr.indexOf(attr.name)>-1" style="display:none;">                                            
                            <li ng-repeat="attr_detail in attr.value">
                                <font class="tree-branch">|--</font>
                                <a ng-click="onclickattr(attr_detail,attr.name)">{{getattribdisplay(attr_detail,attr.name)}}</a>
                            </li>
                        </ul>
                </script>
            </md-tab>
            <md-tab label="Search">
                <table class="table">
                        <tr>
                            <td>
                                <input ng-change="onSearch(searchText)" ng-model="searchText" type="text" class="form-control txt-white" placeholder="Search for road name or road id" />                                                                                                          
                                <i class="fa fa-times clear-search" aria-hidden="true" title="Clear Search" ng-click="clearsearchitem()" style="float:right"></i>
                            </td>        
                         </tr>                               
                        <tr>                            
                            <td>                                
                                    <table class="table table-bordered-2 table-roadmain" ng-show="roadsCollection.length>0">            
                                            <thead>
                                                <tr class="table-head">
                                                    <td width="25px">
                                                       <!-- <input type="checkbox" ng-model="searchAllSelected" ng-change="toggleAll(searchAllSelected)"></input> -->
                                                    </td>
                                                    <td  width="110px">Road ID</td>
                                                    <td>Road Name</td>                                                    
                                                </tr>                                                                     
                                            </thead>
                                            <tbody>           
                                                <tr ng-repeat="road in roadsCollection">
                                                    <td>
                                                        <i class="fa" ng-class="{'fa-check':isroadsearchlist(road),'fa-share':!isroadsearchlist(road)}" aria-hidden="true" ng-click="addsearchitem(road)"></i>
                                                        <!--<input type="checkbox" ng-model="road.checked"></input>-->
                                                    </td>
                                                    <td>{{ road._id.R_ID}}</td>
                                                    <td title="{{ road._id.R_NAME }}">{{road._id.R_NAME }}</td>                                                            
                                                </tr>    
                                            </tbody>
                                        <tfoot>
                                            <tr>
                                                <td align="left" colspan="3">                                                   
                                                    <pagination previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"  ng-show="roadsCollection.length>0" ng-change="pageChanged(pagination.CurrentPage)" rotate="false" boundary-link-numbers="false" total-items="(pagination.max * 10)" ng-model="pagination.CurrentPage" max-size="3" class="pagination-sm" boundary-links="true">
                                                        </pagination>
                                                </td>    
                                            </tr>    
                                        </tfoot>             
                                        </table>
                                     <!-- Selected road Search item -->
                                     <ul class="location-list">
                                        <li ng-repeat="road in searchItems">    
                                            <i class="fa fa-times" aria-hidden="true" title="Remove {{road._id.R_NAME}} from searched item" ng-click="closesearchitem($index)"></i>                    
                                            <font class="tree-branch">|--</font>                        
                                            <a class="toggle-list">
                                                <i  ng-click="ontoggle_loc('road_attr_searched',road._id,$event)" class="fa fa-plus-square toggle-ctrl" aria-hidden="true"></i>
                                                <font ng-click="onclickattr(road,road._id.R_NAME)">{{ road._id.R_NAME }}</font> 
                                            </a>
                                            <ul class="location-list"id="road_attr_searched{{road._id.R_ID}}" style="display:none;margin-left:21px;">                                            
                                                <li ng-repeat="attr in road.attr.attrs" ng-include="'roadsattribute'"></li>
                                            </ul>            
                                        </li>
                                    </ul>           
                            </td>    
                        </tr>                                                    
                </table>                  
            </md-tab>
        </md-tabs>                    
    </div>    
    <!-- Division-->
    <div class="col-lg-9 road-map-right">
        <div id="roadmap_details" style="display:none;" class="roadmap-details">
            <div style="width:100%;" class="page-bar page-bar-color3">
                    <h4><font color="#fff">Road Attributes</font></h4>
                    <i ng-click="toggleattributepane(false)" class="fa fa-window-close attr-close" aria-hidden="true"></i>                    
             </div>
             <div id="roadattrttable">
             </div>         
        </div> 
        <div id ="roadmap_map" class="roadmap-map">
            <select  style="position:absolute;z-index:9999;left:2px;" ng-change="onmapselect(selectedmap)" ng-model="selectedmap">
                <option value="-1">NAMRIA Basemap</option> 
                <option value="0">OSM Bright</option>
                <option value="5">Esri World Map</option>
                <option value="6">Esri Gray Map</option>
                <option value="1">Google Street Map</option>
                <option value="2">Google Sattelite</option>
                <option value="3">Google Terrain</option>
                <option value="4">Google Hybrid</option>
             <select>   
            <div id="roadmap"> </div>                
        </div>    
    </div>
</div>
